---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import ProjectsList from "../content/projects.astro";
import Contact from "@components/Contact.astro";
import { BaselineStatus } from 'astro-embed';

// const projects = (await getCollection("projects")).reverse();
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_projects = projects.slice(0, 5);
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there</div>
    <div class="text-5xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 to-80% bg-clip-text text-transparent">I'm Anthony Ellsworth</div>
    <div class="text-3xl py-3 font-bold">UX/UI Designer / Web Developer / Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        UX/UI Designer & Front-End Web Developer with 15+ years of experience, leveraging expertise in HTML, CSS, and JavaScript to deliver
user-centric web experiences. Adept at responsive design and cross-browser compatibility, ensuring seamless
functionality across devices and platforms. Passionate about crafting engaging and delightful user interfaces for
websites and applications.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/anthonyellsworth/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects <span class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">{"</>"}</span></div>
  </div>

<!-- url="/blog/uxui-payment-dialog-for-europe" -->

  <!-- {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.img}
          desc={project.data.desc}
          url={project.data.url}
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
  <HorizontalCard
    title="Orbital Fueling Station - Splash Page"
    img="/post-img-ofs.webp"
    desc="Designed a splash page for a fictional orbital fueling station."
    url="/splash-page-ofs.webp"
    badge="UX/UI, Splash Page"
  />
  <div class="divider my-0"></div> 
  <HorizontalCard
    title="Payment Dialog - Europe"
    img="/post-img-payment-dialog-europe.webp"
    desc="Created a visually appealing and functional payment dialog for European markets, designed in Figma."
    url="https://www.figma.com/proto/s4I9JM3Kee0vZVuzzqtvmY/Payment-Dialog---Europe?content-scaling=responsive&kind=proto&node-id=6-358&page-id=0%3A1&scaling=scale-down&starting-point-node-id=6%3A358"
    badge="UX/UI, Prototype"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ePro Inc"
    img="/post_img_epro.jpg"
    desc="This website is built in craftCMS 3. The site was built and designed by another agency but asked me to take over.  I help them with updates and maintance. "
    url="https://www.eproinc.com/"
    badge="Dev"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nissan eBrochures 2024"
    img="/post_img_nissan.jpg"
    desc="Help development components for the new 2024 Nissan eBrochures. They are currently in the process of rolling them out to each model. Here is the 2024 Nissan Leaf eBrochure."
    url="https://www.nissanusa.com/interactivebrochures/electric-hybrid-cars/leaf/leaf-electric-driving/index.html"
    badge="Front-end Dev"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BMSA Group"
    img="/post_img_bmsa.jpg"
    desc="Took over this website to help keep it running and updated. Planning to redesign and rebuild the site in the future."
    url="https://www.bmsagroup.com/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog &#9998;</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  <a class="btn py-3 text-base" id="blog" href="/blog/">Read More</a>

  <Contact />

</BaseLayout>