---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import ProjectsList from "../content/projects.astro";
import Contact from "@components/Contact.astro";
import { BaselineStatus } from 'astro-embed';

// const projects = (await getCollection("projects")).reverse();
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_projects = projects.slice(0, 5);
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there</div>
    <div class="text-5xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 to-80% bg-clip-text text-transparent">I'm Anthony Ellsworth</div>
    <div class="text-3xl py-3 font-bold">UX/UI Designer / Web Developer / Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        UX/UI Designer & Front-End Web Developer with 15+ years of experience, leveraging expertise in HTML, CSS, and JavaScript to deliver
user-centric web experiences. Adept at responsive design and cross-browser compatibility, ensuring seamless
functionality across devices and platforms. Passionate about crafting engaging and delightful user interfaces for
websites and applications.
      </text>
    </div>
    <div class="mt-8">
      <h3 class="text-xl">Let's connect!</h3>
      <div class="flex">
        <a class="btn mr-5 [border-image:linear-gradient(to_right,#6366f1,#ec4899)_1] border-2" href="https://www.linkedin.com/in/anthonyellsworth/" target="_blank" aria-label="LinkedIn" title="LinkedIn">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: currentColor;transform: ;msFilter:;"
              ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
              ></path>
          </svg>
        </a>
        <a class="btn [border-image:linear-gradient(to_right,#6366f1,#ec4899)_1] border-2" href="#contact" aria-label="Email" title="Email"><img class="inline-block w-9" src="/email-address.svg" alt=""></a>
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects <span class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">{"</>"}</span></div>
  </div>

<!-- url="/blog/uxui-payment-dialog-for-europe" -->

  <!-- {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.img}
          desc={project.data.desc}
          url={project.data.url}
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
  <HorizontalCard
    title="EPRO Inc"
    img="/post_img_epro.jpg"
    desc="This website utilizes Craft CMS 3. I was brought in to manage its ongoing updates and maintenance. I also helped with the development of new features and functionality including Hubspot emails."
    url="https://www.eproinc.com/"
    badge="Full-stack Dev"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BMSA Group"
    img="/post_img_bmsa.jpg"
    desc="I am responsible for the maintenance and updates of this website. Future plans include a strategic redesign and rebuild to further improve its capabilities."
    url="https://www.bmsagroup.com/"
    badge="Full-stack Dev"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="oddhiddengems.com"
    img="/post-oddhiddengems.webp"
    desc="Designed & developed a responsive website that showcases a collection of hidden gems on Amazon. The site was built using Astro, TailwindCSS, and hosted on Cloudfare."
    url="https://oddhiddengems.com/"
    badge="UX/UI, Front-end Dev, Entrepreneur"
  />
  <div class="divider my-0"></div> 
  <HorizontalCard
    title="Payment Dialog - Europe"
    img="/post-img-payment-dialog-europe.webp"
    desc="Created a visually appealing and functional payment dialog for European markets, designed in Figma."
    url="https://www.figma.com/proto/s4I9JM3Kee0vZVuzzqtvmY/Payment-Dialog---Europe?content-scaling=responsive&kind=proto&node-id=6-358&page-id=0%3A1&scaling=scale-down&starting-point-node-id=6%3A358"
    badge="UX/UI, Prototype, Figma"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nissan eBrochures 2024"
    img="/post_img_nissan.jpg"
    desc="Help development components for the new 2024 Nissan eBrochures. They are currently in the process of rolling them out to each model. Here is the 2024 Nissan Leaf eBrochure."
    url="https://www.nissanusa.com/interactivebrochures/electric-hybrid-cars/leaf/leaf-electric-driving/index.html"
    badge="Front-end Dev"
  />
  <div class="divider my-0"></div>
  
  <a class="btn py-3 text-base [border-image:linear-gradient(to_right,#6366f1,#ec4899)_1] border-2" id="blog" href="/projects">More Projects</a>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog &#9998;</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  <a class="btn py-3 text-base [border-image:linear-gradient(to_right,#6366f1,#ec4899)_1] border-2" id="blog" href="/blog/">Read More</a>

  <Contact />

</BaseLayout>